body {
    background-image: url("../images/symphony.png");
}

/* Below is realted to the nar bar */
.nav-bar {
    position: relative; 
    padding: 0 20px 0 20px;
    height: 75px;
    width: 960px;
    margin: auto; 
    border: solid #cccccc;
    background-color: #ffffff;
}

.name-container {
    position: absolute; 
    top: 5px; 
   padding: 5px 8px; 
   top: -2px;
   background-color: #4aaaa5; 
   color: #ffffff; 
}

.nav-container { 
    position: absolute;
    top: 5px; 
    right: 0; 
    margin: 0px 7px;
    border: 2px solid #4aaaa5;
}

/* This is for the container that holds the about me para */
.main-container {
    position: relative;
    border: 3px solid #cccccc;; 
    background-color: #ffffff;
    margin: auto; 
    width: 1000px; 
    height: 450px;

}

.about-me {
    position: absolute;
    background-color: #ffffff;
    font-size: 30px;
    color: #4aaaa5;
    font-style: Georgia;
    width: 920px;
    height: 45px;
    padding: 15px 20px 0px 30px;
    margin: 0 auto;
    left: 10px;
    border: solid #e7e7e7;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
}

@media screen and (max-width:641px) {
    .nav-bar {
        max-width: 585px;
        position: absolute; 
        border: none;
        background-color: transparent;
    }

    .name-container {
        max-width: 750px;
        text-align: center;
        left:0;
    }

    .nav-container {
       left: 0;
       height: 55px;
       top: 75px;
       max-width: 630px;
       background-color: #ffffff;
       border: 2px solid #4aaaa5;
   }

   .main-container {
       top: 140px;
       max-width: 750px;
   }
}

@media screen and (max-width:769px) {
    .nav-bar {
        max-width: 713px;
        position: absolute; 
        border: none;
        background-color: transparent;
    }

    .name-container {
        width: 740px;
        text-align: center;
        left:0;
    }

    .nav-container {
       left: 0;
       height: 55px;
       top: 75px;
       max-width: 900px;
       background-color: #ffffff;
       border: 2px solid #4aaaa5;
   }
   .main-container {
    top: 130px;
    max-width: 750px;
}
}


/*this is creating the horizontal nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

li {
    float: left;
}

a {
    display: block;
    padding: 20px;
    color: gray;
}

